<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Загружаем тег static -->
    {% load static %}
    <!-- CSS и JS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'authz:index' %}">Главная страница</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'authz:profile' %}">Профиль</a></li>
                    <li><a href="{% url 'authz:logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'authz:login' %}">Войти</a></li>
                    <li><a href="{% url 'authz:register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        <!-- Основная область контента -->
        {% endblock %}
    </div>

    <footer>
        <p>© 2025 AuthZ Project</p>
    </footer>
</body>
</html>